.container {
    margin-top: 200px;
    max-width: 50%;
    padding: 60px 12px 10px 10px;
}

.container input {
  height: 40px;
  padding: 20x;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1.5rem;
}

::placeholder {
  font-size: 1.5rem;
}

.container .submit {
  height: 50px;
  padding: 10px 10px;
  font-size: 2rem;
  width: 100%;
  background-color: transparent;
  color: #000;
  font-weight: 600;
  outline: none;
}

.container .submit:hover {
  background-color: #000;
  border-color: #000;
  color: #ccc;

}

.book {
  border: 1px solid #000;
  height: 500px;
  padding: 20px 30px;
  border-radius: 6px;
}

.book h1 {
  padding: 20px 5px;
  text-align: center;
  font-size: 4rem;
}

.alert {
  text-align: center;
  font-size: 2rem;
  background: #339933;
  color: #fff;
  border-radius: 5px;
}
