.bg-img{
  padding-top: 350px;
  text-align: center;
  height: 500px;
 }

 .bg-img h1 {
  font-size: 8em;
  color: #852259;
  font-weight: 700;
 }


 .bg-img .btn {
  display: inline-block;
  border: 3px solid #852259;
  background-color: #852259;
  padding: 15px;
  margin: 20px;
  color: #ccc;
  font-size: 3em;
}
